.aboutdiv{
    padding-top: 20px;
    background-color: rgb(16, 250, 250);
    width: 460px;
    height: 240px;
    border-radius:20px;
    margin: 0px 200px;
}
.aboutdiv:hover
{
    transform: scale(1.09);
    box-shadow: 3px 3px 70px 30px;
}
.aboutinput1,.aboutinput{
    display: grid;
    background-color: rgb(16, 250, 250);
    font-size: 15px;
    margin: 20px;
    border: dotted;
    outline: none;
    border-bottom: 1px solid black;
}

.but{
    padding: 8px 30px;
    background-color: orange;
    border: none;
    border-radius: 20px;
    margin: 0px 300px;
}