.div{
    text-align: center;
    margin: 50px 50px 80px 500px;
    background-color: aqua;
    width: 370px;
    font-size: 10px;
    height: 300px;
    border-radius: 20px;
}   
.input{
    border-radius: 10px;
    margin: 25px;
    padding: 8px 70px;
}
.login-but{
    border-radius: 10px;
    padding: 5px;
    width: 80px;
    margin-right: 30px;
}
.sign-but{
    border-radius: 10px;
    padding: 5px;
    width: 80px;
}